#indice li>a link{
	color: red;
    text-decoration: none;
}
#indice ul ol li{
	font-size: smaller;
}
#indice li p:hover{
	color: black;
	text-transform: uppercase;
	background-color: blue;
	border: 1px solid blue;
}
#indice li ol ul:hover{
	color: blue;
	text-transform: 
	background-color: blue;
	border: 1px solid blue;
}
#indice li>a:visited{
	font-style: italic;
	text-decoration: none;
}
#piedepagina a{
	color: green;
	text-decoration: none;
}
#piedepagina a:hover{
	background-color: white;
	border-style: 1px solid;
	border-color: black;
	font-family: Teal;
	font-style: normal;
}