ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 0;
padding: 0;
list-style: none;
width: 100%;
font-size: 20px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 100px;
background: blue;
color: white;
border-bottom: 1px solid red;
border-top: 1px solid red;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: #999;
color: red;
font-size: 25px;
border-bottom: 1px solid white;
border-top: 1px solid white;
text-decoration: none;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0px;
}
ul.acorh li:hover ul {
max-height: 400px;
transition: .3s all ease-in;
}
ul.acorh li a:hover {
background: #666;
color: white;
}
ul.acorh li:hover ul,
ul.acorh li:target ul {
max-height: 500px;
transition: .3s all ease-in;
}