#cabecera{
	position: absolute;
	top: 2%;
	left: 2%;
	height: 10%;
	width: 93%;
}
#indice{
	position: absolute;
	top: 13%;
	left: 0%;
	width: 25%;
	height: 75%;
}
#contenido{
	position: absolute;
	top: 14%;
	left: 30%;
	width: 65%;
	height: 70%;
}
#piedepagina{
	position: absolute;
	top: 89%;
	left: 30%;
	height: 10%;
	width: 65%;
}
#cabecera, #indice, #contenido, #piedepagina{
	border: solid;
}
#imagen{
	float: right;
	width: 11%;
}
